{% extends 'layout.html' %}
{% block body %}

<h1>Contactos</h1>
<br>
<div class="row">
        <div class ="card card-body" style="background-color:#ccccff;">
        <h4>Agregar contacto</h4>
        <form action="/add_contact" method="POST" class="row">
            <div class="input-group">
                    <input type="text" id="fullname" name="fullname" class="form-control" placeholder="Nombre Completo">
                    <input type="number" id="phone" name="phone" class="form-control" placeholder="Telefono">
                    <input type="email" id="email" name="email" class="form-control" placeholder="direccion de e-mail">
                    <button class="btn btn-primary btn-lg" type="submit">Agregar</button>
            </div>
        </form>
    </div>
</div>
<br>
    <div class="row">
        {% with messages = get_flashed_messages()%} <!--para insertar py, esta funcion nos retorna los posibles mensajes dentro del servidor, recorremos en un for si existe mensaje lo mostramos en pantalla-->
        {%if messages%}
        {%for message in messages %}
        <div class="alert alert-danger col-md-6" role="alert">
          {{message}}
        </div>
        {%endfor%}
        {%endif%}
        {%endwith%}
    <table class="table table-hover table-success table-striped">
        <thead class="table-dark">
        <tr>
            <td scope="col">Fullname</td>
            <td scope="col">Phone</td>
            <td scope="col">Email</td>
            <td scope="col">Operation</td>
        </tr>
        </thead>
        <tbody>
        {%for contact in contacts %}
        <tr>
            <td>{{contact.1}}</td>
            <td>{{contact.2}}</td>
            <td>{{contact.3}}</td>
            <td>
                <a  class="btn btn-outline-success" href="/edit/{{contact.0}}">EDIT</a>
                <a class="btn btn-outline-danger" href="/delete/{{contact.0}}">DELETE</a>
            </td>
        </tr>
        {%endfor%}

        </tbody>
      </table>
   </div>


{% endblock %}
